<html>

<head>
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
        {{>header}}
            {{>footer}}
            <form>
                <input>
                <button>
                    search
                </button>
            </form>
            <p id="p-1"></p>
            <p id="p-2"></p>
                <script src="js/app.js">

                </script>
</body>

</html>